@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&family=Source+Serif+Pro:wght@400;600&display=swap');



body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.raleway {
  font-family: 'Raleway', sans-serif;

}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

// .roboto-slab-bold {
//   font-family: 'Roboto Slab', serif;
//   font-weight: 600;
// }

.serif-pro {
  font-family: 'Source Serif Pro', serif;
}

// .serif-pro-bold {

// }